*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #eceef2;
}
.Form1{
    display: flex;
    max-width: 100%;
    height: 100px;
    float: right;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.border{
    border-bottom: 1px solid black;
    height: 10px;
    width: 100%;
}
.m_form{
    border-radius: 15px;
}
fieldset{
    border-radius: 15px;
    border: none;
    background-color: white;
}
