.Form1{
    display: flex;
    max-width: 100%;
    height: 100px;
    float: right;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
fieldset{
    border-radius: 15px;
}
