#Main_Box{
background-color: rgba(45, 55, 72, 255);
width: 50%;
color: white;
}
#Sub_Box{
    background-color: rgb(88, 92, 108);
    width: 50%;
}
#Small_box{
    display: inline-block; 
    padding: 10px; 
    background-color: rgba(45, 55, 72, 255); 
    margin: 5px;
}
#Submit{
    background-color: rgb(8, 172, 108);
    color: white;
    border-radius: 2px;
}